#site-wrapper {
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-size: 1.4rem;
}

.container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

.hidden-link {
    text-decoration: none;
    color: inherit;
}

.non-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Header */

#header .container {
    display: flex;
    justify-content: space-between;
    padding: 1.2em 0;
    border-bottom: 2px solid gray;
}

.company-name {
    font-weight: bold;
}

.header__buttons {
    display: flex;
}

.header__button {
    font-size: 1.2em;
    text-transform: uppercase;
    padding: 0 1.1em;
    margin-left: 0.6em;
}

/* /Header */

/* Main */

#main .container {
    padding: 1.5em 0;
}

/* /Main */

/* Modal */

.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.5);

    display: none;
}
.modal_active {
    display: block;
}

.congrats-window {
    background-color: #b92b2b;
    padding: 2em;
    border-radius: 20px;

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}
.congrats-window__text {
    color: white;
    font-size: 1.2em;

    text-align: center;
}

/* /Modal */

/* Media queries */

@media only screen and (min-width: 320px) and (max-width: 767px) {
    html {
        font-size: 14px;
    }
    #header .container {
        flex-direction: column;
        align-items: center;
    }
    .header__buttons {
        margin-top: 0.8em;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    html {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1224px) {
    html {
        font-size: 18px;
    }
}

/* /Media queries */